body {
  background: black;
  color: white;
font-family: 'Lucida Console', Monaco, monospace;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  color: #b200ff; /* brighter neon purple */
  font-size: 4rem;
  margin-top: 20vh;
  opacity: 0;
  animation: fadeInNeon 2s ease-in forwards, neonPulse 3s infinite alternate;
}

p {
  color: white;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-shadow: 0 0 5px #b200ff;
}

@keyframes fadeInNeon {
  0% { opacity: 0; text-shadow: none; }
  50% { opacity: 0.5; text-shadow: 0 0 5px #b200ff; }
  100% { opacity: 1; text-shadow: 0 0 5px #b200ff,
                               0 0 10px #b200ff,
                               0 0 20px #b200ff; }
}

@keyframes neonPulse {
  0% { text-shadow: 0 0 5px #b200ff, 0 0 10px #b200ff, 0 0 20px #b200ff; }
  100% { text-shadow: 0 0 10px #b200ff, 0 0 20px #b200ff, 0 0 40px #b200ff; }
}

.about {
  margin-top: 50px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 1rem;
  line-height: 1.6;
  color: #ccc;
}

.about h2 {
  color: #b200ff; /* neon purple */
  font-size: 2rem;
  text-align: center;
  margin-bottom: 15px;
  opacity: 0;
  animation: fadeInNeon 2s ease-in forwards, neonPulse 3s infinite alternate;
}

.what-is-htw {
  margin-top: 50px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 1rem;
  line-height: 1.6;
  color: #ccc;
}

.what-is-htw h2 {
  color: #b200ff;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 15px;
  opacity: 0;
  animation: fadeInNeon 2s ease-in forwards, neonPulse 3s infinite alternate;
}
